<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Vitals IOT</title>
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>

</head>

<body bgcolor="teal">
    <div class="main">
        <div>
            <h1> IOT Human Vitals Measurement</h1>
            <div class="patient_details">
                <h2 class="patient"><%=name%></h2><br>
                <h2 class="patient"><%=id%></h2><br>
                <h2 class="patient"><%=age%></h2><br>

            </div>



            <button id="start" onclick="onStart()">Start Measurement</button>
            <div id="meters">
                <div>
                    <meter id="spo2" value="0.5">50%</meter><br>
                    <label for="spo2">SpO2 : </label>
                    <h2>70%</h2>

                </div>
                <div>
                    <meter id="bpm" value="0.7">70BPM</meter><br>
                    <label for="bpm">Heart Beat : </label>
                    <h2>80 BPM</h2>

                </div>

                <button>Print Report</button>



            </div>

        </div>


    </div>





</body>
<script>


</script>

</html>