<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Vitals IOT</title>
    <link rel="stylesheet" href="index.css">
    

</head>

<body bgcolor="teal">
    <div class="main">
        <div>
            <h1> IOT Human Vitals Measurement</h1>
            <div class="patient_details">
                <form method="post" action="/app">
                    <label for="name">Patient's Name</label>
                    <input type="text" name="name"><br>
                    <label for="id">Patient's ID</label>
                    <input type="text" name="id"><br>
                    <label for="age">Patient's Age</label>
                    <input type="text" name="age"><br>

                    <button type="submit">Next</button>;

                </form>

            </div>



            
            

    </div>
    </div>





</body>
<script>


</script>

</html>